.pa-heading {
    text-align: center;
    margin-bottom: 46px;
}
.pa-why-ul ul li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 60px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
}
.pa-why-left ul li {
    text-align: right;
    padding-right: 150px;
}
.pa-why-left ul li:first-child {
    padding-right: 85px;
}
.pa-why-left ul li:nth-child(2) {
    padding-right: 140px;
}
.pa-why-left ul li:nth-child(4) {
    padding-right: 145px;
}
.pa-why-left ul li:last-child {
    padding-right: 100px;
}
.pa-why-img {
    width: 380px;
    height: 380px;
    line-height: 380px;
    border: 1px dashed #6caaa8;
    border-radius: 100%;
    text-align: center;
}
.pa-why-img img {
    width: 150px;
}
.pa-why-right ul li:first-child {
    padding-left: 95px;
}
.pa-why-right ul li:nth-child(2) {
    padding-left: 140px;
}
.pa-why-right ul li {
    text-align: left;
    padding-left: 150px;
}
/* ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */
.pa-why-left ul li:nth-child(4):after {
    transform: rotate(-8deg) translate(10px, -10px);
}
.pa-why-left ul li:after {
    right: 0;
}
.pa-why-ul ul li:after {
    position: absolute;
    content: '';
    width: 145px;
    border: 0.5px dashed #6caaa8;
    top: 0;
    bottom: 0;
    height: 1px;
    margin: auto 0;
}
.pa-why-right ul li:last-child:after {
    transform: rotate(16deg) translate(-50px, -10px);
}
.pa-why-right ul li:after {
    left: 0;
}
.pa-why-ul ul li:after {
    position: absolute;
    content: '';
    width: 145px;
    border: 0.5px dashed #6caaa8;
    top: 0;
    bottom: 0;
    height: 1px;
    margin: auto 0;
}
.pa-why-left ul li:last-child:after {
    transform: rotate(-14deg) translate(55px, -10px);
}
.pa-why-left ul li:nth-child(2):after {
    transform: rotate(8deg) translate(13px, 10px);
}
.pa-why-left ul li:first-child:after {
    transform: rotate(11deg) translate(70px, 0px);
}
.pa-why-right ul li:first-child:after {
    transform: rotate(-11deg) translate(-62px, 10px);
}
.pa-why-right ul li:nth-child(2):after {
    transform: rotate(-8deg) translate(-15px, 10px);
}
.pa-why-right ul li:after {
    left: 0;
}
.pa-why-right ul li:nth-child(3):after {
    transform: rotate(0deg);
}
.pa-why-right ul li:nth-child(4) {
    padding-left: 145px;
}
.pa-why-right ul li:nth-child(4):after {
    transform: rotate(8deg) translate(-11px, -10px);
}
.pa-why-right ul li:last-child {
    padding-left: 110px;
}
.pa-why-ul ul li:last-child {
    margin-bottom: 0;
}
